/* Este fichero CSS contiene los estilos para los selectores de 
   la web, a excepción de los menús que están en un fichero
   separado.
 */

/* 
    Importamos el esquema de colores de la página web 
 */
@import "colores.css";

/*
	Selector para el contenedor de las páginas web
 */
.contenedor {
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	/* Color de fondo */
	background-color: var(--light-bg-color);
	padding: 5px;
}

/*
	Selector para la cabecera
 */
.main-header {
	height: 220px;
	background-color: var(--dark-bg-color);
	/* Color de texto */
	color: var(--text-primary-color);
	overflow: hidden;
	background-image: url("../imagenes/SoftPin\ 400x220.png");
	background-repeat: no-repeat;
	background-position: center;
}

section {
	width: 550px;
	float: left;
	min-height: 500px;
	margin-left: 15px;
	margin-bottom: 15px;
}

/*
	Selector para las zonas laterales de la web
 */
aside,
.asidelong {
	margin-right: 15px;
	margin-left: 15px;
	width: 300px;
	float: right;
	min-height: 500px;
	margin-bottom: 15px;
	/* color para la barra lateral */
	border-left: thick solid var(--divider-color);
	z-index: -1;
}

.asidelong {
	height: 1150px;
}

.main-footer {
	clear: both;
	width: 900px;
	height: 50px;
	background-color: var(--dark-bg-color);
	color: var(--text-primary-color);
}

/*
	Selector para los textos lorem ipsum
 */
.lipsum {
	color: var(--secondary-text-color);
	text-align: justify;
}

.txtminus {
	font-size: 12px;
}

.titulo {
	color: var(--default-bg-color);
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
	Selector para parrafos en pantalla completa
	(sin "aside")
 */
.parrafo {
	height: fit-content;
	float: inline-start;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
	margin-top: 5px;
}

.centrado {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

/*
	Selector para insertar "Google Maps"
 */
.mapa {
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}

/*
	Selector para agrupar imagen y texto
 */
.unidos {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
}

/* 
	Selector para colocar imagen y texto juntos
 */
.derecha,
.izquierda {
	width: 45%;
	position: relative;
	margin-top: 0px;
	margin-left: 10px;
}

.derecha {
	float: right;
}

.izquierda {
	float: left;
}

.abajo {
	position: relative;
	left: 640px;
	top: 30px;
}

/*
	Selector para dar un margen a los textos
 */
.margen {
	margin-left: 10px;
}

.imgderecha {
	float: right;
	width: 50%;
	position: absolute;
	right: 105px;
}

hr {
	margin-top: 10px;
	margin-left: 10px;
	border: 3px solid var(--divider-color);
}